!!--------------------------------
!! From .Xresources.d/
!!--------------------------------
#include "/home/albawid/.Xresources.d/.themes/oceanicnext"
#include "/home/albawid/.Xresources.d/cursor"
#include "/home/albawid/.Xresources.d/font"
#include "/home/albawid/.Xresources.d/xterm"
#include "/home/albawid/.Xresources.d/urxvt"
