#!/bin/sh

#
# user
alias jam='tty-clock -s -c -C 7 -r -f "%A, %d %B %Y"'
alias youtube-download='youtube-dl -f "bestvideo[ext=webm]+bestaudio[ext=webm]/bestvideo[ext=mp4]+bestaudio[ext=m4a]/best"'
alias vi3='nvim ~/.config/i3/config'
alias nf='neofetch --ascii ~/.config/neofetch/ascii/arch'

#
# ls aliases (using exa)
alias ls='exa --group-directories-first'
alias lr='exa -Ra'
alias lt='exa -Ta'
alias ll='exa -lh --header'
alias la='exa -la --header'

#
# file downloader
alias curl='curl --continue-at - --location --progress-bar --remote-name --remote-time'
alias wget='wget --continue --progress=bar --timestamping'

#
# reflector
alias update-repo='sudo reflector --verbose --latest 50 --protocol http --protocol https --sort rate --save /etc/pacman.d/mirrorlist'
alias update-repo12='sudo reflector --verbose --age 12 --protocol https --sort rate --save /etc/pacman.d/mirrorlist'

#
# storage
alias df='df -h'
alias du='du -h'

#
# Yey
alias yay='yay --sudoloop'

#
# sudo
# alias sudo='sudo -p "Password:"'

#
# cat
alias cat='bat'
alias grep='grep --color=auto'

#
# scrcpy
alias wirelesscast='adb connect 10.34.141.142:5555; scrcpy -S -b 2M -m 1080 --push-target /sdcard/Download &'

# Web Cam
alias webcam='mpv av://v4l2:/dev/video0 --profile=low-latency --untimed'
